---
import HeroCarousel from "@/components/features/HeroCarousel.vue";
import ProductListingPage from "@/components/pages/ProductListingPage.vue";
import Layout from "@/layouts/Layout.astro";
import { getLangFromUrl, useTranslations } from "@/lib/localization/i18n.utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

export async function getStaticPaths() {
  return [
    { params: { locale: "en-US" } },
    { params: { locale: "ru-RU" } },
    { params: { locale: "kk-KZ" } },
  ];
}
---

<Layout>
  <HeroCarousel client:only="vue" />
  <div class="container mx-auto">
    <h1 class="mb-8 text-3xl font-bold">
      {t("nav.catalog")}
    </h1>
    <ProductListingPage client:only="vue" />
  </div>
</Layout>