---
import { Image } from "astro:assets";
interface Props {
  featuredImages: string[];
}

const { featuredImages } = Astro.props;
---

<section
  class="relative h-[20vh] max-h-[1200px] min-h-[600px] overflow-hidden pb-[72px]"
>
  <!-- Background Images -->
  <div class="absolute inset-0 z-0">
    {
      featuredImages.map((img, index) => (
        <Image
          src={img}
          alt=""
          width={1200}
          height={800}
          class={`absolute left-1/2 top-1/2 h-[120%] w-[120%] -translate-x-1/2 -translate-y-1/2 object-cover opacity-0 ${
            index === 0 ? "animate-fade-slide" : ""
          }`}
          style={`animation-delay: ${index * 4}s`}
          loading="eager"
          format="webp"
        />
      ))
    }
  </div>

  <!-- Content -->
  <div
    class="xl:flex-row relative z-10 mx-auto flex h-full max-w-[1160px] flex-col items-center justify-center px-4"
  >
    <h1
      class="xl:text-6xl xl:mb-0 xl:flex-1 mb-8 text-4xl font-bold uppercase leading-tight text-text"
    >
      Ваш стиль -<br />наша мебель
    </h1>
    <div class="xl:flex-1"></div>
    <!-- Spacer -->
  </div>
</section>
