---
import HeroImages from "./HeroImages.vue";
---

<section
  class="relative h-[20vh] max-h-[1200px] min-h-[600px] overflow-hidden pb-[72px]"
>
  <!-- Vue component for dynamic images -->
  <HeroImages client:load />

  <!-- Static content in Astro -->
  <div
    class="xl:flex-row relative z-10 mx-auto flex h-full max-w-[1160px] flex-col items-center justify-center px-4"
  >
    <h1
      class="xl:text-6xl xl:mb-0 xl:flex-1 mb-8 text-4xl font-bold uppercase leading-tight text-primary-900"
    >
      Ваш стиль -<br />наша мебель
    </h1>
    <div class="xl:flex-1"></div>
  </div>
</section>
