---
import ChairShowcase from './vue/ChairShowcase.vue'
---

<section class="relative w-full flex items-center justify-center">
  <!-- Background Brand Text -->
  <h1
    class="absolute text-[8rem] font-extrabold text-gray-100
           leading-none tracking-tight uppercase pointer-events-none z-0"
    style="white-space: nowrap;"
  >
    daniyal
  </h1>
  <ChairShowcase />
</section>
