---
import HeroImages from "./HeroImages.vue";
---

<section
  class="h-[20vh] max-h-[1200px] min-h-[600px] w-full overflow-hidden pb-[72px]"
>
  <!-- Vue component for dynamic images -->
  <HeroImages client:load />

  <!-- Static content in Astro -->
  <div
    class="relative z-10 mx-auto flex h-full max-w-[1160px] flex-col items-center justify-center px-4 xl:flex-row"
  >
    <h1
      class="mb-8 text-4xl font-bold uppercase leading-tight text-text xl:mb-0 xl:flex-1 xl:text-6xl"
    >
      Ваш стиль -<br />наша мебель
    </h1>
    <div class="xl:flex-1"></div>
  </div>
</section>
