@import 'tailwindcss';

@config '../../tailwind.config.cjs';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility display-none {
  @apply hidden;
}

@utility focus-outline {
  @apply outline-2 outline-offset-1 outline-accent-200 focus-visible:no-underline focus-visible:outline-dashed;
}

@layer base {
  :root,
  html[data-theme="light"] {
    --text-50: #eef5f6;
    --text-100: #deebed;
    --text-200: #bcd7dc;
    --text-300: #9bc2ca;
    --text-400: #79aeb9;
    --text-500: #589aa7;
    --text-600: #467b86;
    --text-700: #355c64;
    --text-800: #233e43;
    --text-900: #121f21;
    --text-950: #090f11;

    --background-50: #ffffff;
    --background-100: #fcfcfc;
    --background-200: #f7f7f7;
    --background-300: #f2f2f2;
    --background-400: #ededed;
    --background-500: #e8e8e8;
    --background-600: #e3e3e3;
    --background-700: #dedede;
    --background-800: #d9d9d9;
    --background-900: #d4d4d4;
    --background-950: #d1d1d1;

    --primary-50: #fcf5e8;
    --primary-100: #faecd1;
    --primary-200: #f5d8a3;
    --primary-300: #f0c575;
    --primary-400: #ebb147;
    --primary-500: #e69e19;
    --primary-600: #b87e14;
    --primary-700: #8a5f0f;
    --primary-800: #5c3f0a;
    --primary-900: #2e2005;
    --primary-950: #171003;

    --secondary-50: #f0f3f4;
    --secondary-100: #e2e6e9;
    --secondary-200: #c5cdd3;
    --secondary-300: #a8b5bd;
    --secondary-400: #8b9ca7;
    --secondary-500: #6e8391;
    --secondary-600: #586974;
    --secondary-700: #424f57;
    --secondary-800: #2c343a;
    --secondary-900: #161a1d;
    --secondary-950: #0b0d0f;

    --accent-50: #fffaf5;
    --accent-100: #fff6ed;
    --accent-200: #fce3cf;
    --accent-300: #faccb1;
    --accent-400: #f79579;
    --accent-500: #f25041;
    --accent-600: #db4335;
    --accent-700: #b52e24;
    --accent-800: #911f17;
    --accent-900: #6e140d;
    --accent-950: #470906;
  }
  html[data-theme="dark"] {
    --text-50: #090f11;
    --text-100: #111f22;
    --text-200: #233e43;
    --text-300: #345d65;
    --text-400: #457c87;
    --text-500: #579ba8;
    --text-600: #78afba;
    --text-700: #9ac3cb;
    --text-800: #bcd7dc;
    --text-900: #ddebee;
    --text-950: #eef5f6;

    --background-50: #0d0d0d;
    --background-100: #1a1a1a;
    --background-200: #333333;
    --background-300: #4d4d4d;
    --background-400: #666666;
    --background-500: #808080;
    --background-600: #999999;
    --background-700: #b3b3b3;
    --background-800: #cccccc;
    --background-900: #e6e6e6;
    --background-950: #f2f2f2;

    --primary-50: #171003;
    --primary-100: #2e2005;
    --primary-200: #5c3f0a;
    --primary-300: #8a5f0f;
    --primary-400: #b87e14;
    --primary-500: #e69e19;
    --primary-600: #ebb147;
    --primary-700: #f0c575;
    --primary-800: #f5d8a3;
    --primary-900: #faecd1;
    --primary-950: #fcf5e8;

    --secondary-50: #0b0d0f;
    --secondary-100: #161a1d;
    --secondary-200: #2c343a;
    --secondary-300: #424f57;
    --secondary-400: #586974;
    --secondary-500: #6e8391;
    --secondary-600: #8b9ca7;
    --secondary-700: #a8b5bd;
    --secondary-800: #c5cdd3;
    --secondary-900: #e2e6e9;
    --secondary-950: #f0f3f4;

    --accent-50: #180402;
    --accent-100: #300703;
    --accent-200: #5f0e07;
    --accent-300: #8f150a;
    --accent-400: #bf1c0d;
    --accent-500: #ee2311;
    --accent-600: #f24f40;
    --accent-700: #f57b70;
    --accent-800: #f8a7a0;
    --accent-900: #fcd3cf;
    --accent-950: #fde9e7;
  }
  #sun-svg,
  html[data-theme="dark"] #moon-svg {
    display: none;
  }
  #moon-svg,
  html[data-theme="dark"] #sun-svg {
    display: block;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-text selection:bg-secondary-200 selection:text-text;
  }
  section,
  footer {
    @apply mx-auto max-w-6xl px-4;
  }
  a {
    @apply outline-2 outline-offset-1 outline-text focus-visible:no-underline focus-visible:outline-dashed;
  }
  svg {
    @apply inline-block h-6 w-6 fill-text group-hover:fill-accent;
  }
  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110;
  }
  .prose {
    @apply prose-headings:mb-3! prose-headings:text-text! prose-h3:italic prose-p:text-text! prose-a:text-text! prose-a:decoration-dashed! prose-a:underline-offset-8 prose-a:hover:text-accent prose-blockquote:border-l-accent! prose-blockquote:opacity-80 prose-figcaption:text-text! prose-figcaption:opacity-70 prose-strong:text-text! prose-code:rounded-sm prose-code:bg-background-300 prose-code:p-1 prose-code:before:content-none! prose-code:after:content-none! prose-ol:text-text! prose-ul:overflow-x-clip prose-ul:text-text! prose-li:marker:text-accent! prose-table:text-text prose-th:border prose-th:border-secondary prose-td:border prose-td:border-secondary prose-img:my-2! prose-img:mx-auto prose-img:border-2 prose-img:border-secondary prose-hr:border-secondary!;
  }
  .prose a {
    @apply break-words hover:text-accent!;
  }
  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }
  .prose h2#table-of-contents {
    @apply mb-2;
  }
  .prose details {
    @apply inline-block cursor-pointer select-none text-text;
  }
  .prose summary {
    @apply focus-outline;
  }
  .prose h2#table-of-contents + p {
    @apply hidden;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-secondary;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-text;
  }

  /* ===== Code Blocks & Syntax Highlighting ===== */
  pre:has(code) {
    @apply border border-text;
  }
  code,
  blockquote {
    word-wrap: break-word;
  }

  pre > code {
    white-space: pre;
  }

  /* Apply Dark Theme (if multi-theme specified) */
  html[data-theme="dark"] pre:has(code),
  html[data-theme="dark"] pre:has(code) span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
